.nb_auto {
  margin-bottom: auto;
}
.text_center {
  text-align: center;
}
h1 {
  font-size: 35px;
}
h4 {
  color: #444;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

.color-primary {
  color: $primary-color;
}
.p_color {
  color: #666;
}
.line-space {
  line-height: 30px;
}
